<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Image Style Transfer | Home</title>
	<meta charset="UTF-8">
	<meta name="description" content="Photographer html template">
	<meta name="keywords" content="photographer, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="{{url_for('static',filename='img/favicon.ico')}}" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static',filename='css/magnific-popup.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static',filename='css/slicknav.min.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section  -->
	<header class="header-section">
		<a href="/" class="site-logo"><img src="{{url_for('static',filename='img/logo.png')}}" alt="logo"></a>
		<div class="header-controls">
			<button class="nav-switch-btn"><i class="fa fa-bars"></i></button>
			
		</div>
		<ul class="main-menu">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About Us </a></li>
			<li><a href="/contact">Contact Us</a></li>
			<li><a href="/register">Register</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</header>
	<div class="clearfix"></div>
	<!-- Header section end  -->

	<!-- Hero section  -->
	<div class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/1.jpeg')}}">
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/2.jpg')}}">
			
					
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/3.jpg')}}">
				
					
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/4.jpg')}}">
				
					
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/5.jpg')}}">
			
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/6.jpg')}}">
				
					
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/7.jpg')}}">
				
					
				</a>
			</div>
		</div>
		<div class="hero-slider owl-carousel">
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/8.jpg')}}">
			
					
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/9.jpg')}}">
			
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/10.jpg')}}">
				
				</a></div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/11.jpg')}}">
				
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/12.jpg')}}">
				
					
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/13.jpg')}}">
				
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/14.jpg')}}">
				
					
				</a>
			</div>
		</div>
		<div class="hero-slider owl-carousel">
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/15.jpg')}}">
			
					
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/16.jpg')}}">
				
					
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/17.jpg')}}">
									
									
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/18.jpg')}}">
				
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/19.jpg')}}">
				
					
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/20.jpg')}}">
				
					
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{url_for('static',filename='img/portfolio/21.jpg')}}">
				
				</a>
			</div>
		</div>
		<div class="hero-social-links">
			<a href=""><i class="fa fa-pinterest"></i></a>
			<a href=""><i class="fa fa-facebook"></i></a>
			<a href=""><i class="fa fa-twitter"></i></a>
			<a href=""><i class="fa fa-dribbble"></i></a>
			<a href=""><i class="fa fa-behance"></i></a>
		</div>
	</div>
	<!-- Hero section end  -->
	
	<!-- Intro section   -->
	<section class="intro-section">
		<div class="intro-warp">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-6 col-lg-7 p-0">
						<div class="intro-text">
							<h2>Image Style Transfer</h2>
							<p>Rendering the semantic content of an image in different styles is a difficult image processing task. Arguably, a major limiting factor for previous approaches has been the lack of image representations that explicitly represent semantic information and, thus, allow to separate image content from style. Here we use image representations derived from Convolutional Neural Networks optimised for object recognition, which make high level image information explicit. We introduce A Neural Algorithm of Artistic Style that can separate and recombine the image content and style of natural images. The algorithm allows us to produce new images of high perceptual quality that combine the content of an arbitrary photograph with the appearance of numerous wellknown artworks. Our results provide new insights into the deep image representations learned by Convolutional Neural Networks and demonstrate their potential for high level image synthesis and manipulation.</p>
							<a href="#" class="sp-link">Take a look Images</a>
						</div>
					</div>
					<div class="col-xl-6 col-lg-5 p-0">
						<div class="skill-warp">
							<div class="single-progress-item">
								<div class="progress-bar-style" data-progress="75"></div>
								<p>Nature</p>
							</div>
							<div class="single-progress-item">
								<div class="progress-bar-style" data-progress="100"></div>
								<p>Passion</p>
							</div>
							<div class="single-progress-item">
								<div class="progress-bar-style" data-progress="90"></div>
								<p>Portraits</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end  -->
	
	<!-- Footer section   -->
	<footer class="footer-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 order-1 order-md-2">
					<div class="footer-social-links">
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-dribbble"></i></a>
						<a href=""><i class="fa fa-behance"></i></a>
					</div>
				</div>
				<div class="col-md-6 order-2 order-md-1">
					<div class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Image Style Transfer <i class aria-hidden="true"></i> System <a href="#" target="_blank">TM</a>

</div>	
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end  -->

	

	<!--====== Javascripts & Jquery ======-->
	<script src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/jquery.slicknav.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/jquery.magnific-popup.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/circle-progress.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/mixitup.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/instafeed.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/masonry.pkgd.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/main.js')}}"></script>

	</body>
</html>
